<h4>Todo:</h4>
<p *ngIf="sortedTodolist.todo.length === 0">No Todo Items found, add some!</p>

<ul class="todolist" *ngFor="let todo of sortedTodolist.todo" id="todo-list">

    <li>
      <div>
        <div class="todo-item" (click)="viewTodoItem(todo.id)" id="todo-{{todo.id}}">{{todo.title}}
          <span class="date">{{todo.dueDate}}</span>&nbsp;
          <button class="pure-button button-xsmall" [ngClass]="{'label-warning': todo.status === 'INPROGRESS', 'label-success': todo.status === 'DONE'}"><strong>{{formatStatus(todo.status)}}</strong></button></div>
        <div>
          <div class="delete" (click)="deleteTodoItem(todo.id)" id="delete-{{todo.id}}">🗑️</div> 
          <div class="edit" (click)="editTodoItem(todo.id)" id="edit-{{todo.id}}">✏️</div>
        </div>
      </div>
    </li>
</ul>
<br />

<h4 class="header-warning">In Progress:</h4>
<p *ngIf="sortedTodolist.inprogress.length === 0">Are you sure you shouldn't be doing anything?</p>
<ul class="todolist" *ngFor="let todo of sortedTodolist.inprogress" id="inprogress-list">
    <li>
      <div>
        <div class="todo-item" (click)="viewTodoItem(todo.id)" id="todo-{{todo.id}}">{{todo.title}}
          <span class="date">{{todo.dueDate}}</span>&nbsp;
          <button class="pure-button button-xsmall" [ngClass]="{'label-warning': todo.status === 'INPROGRESS', 'label-success': todo.status === 'DONE'}"><strong>{{formatStatus(todo.status)}}</strong></button></div>
        <div>
          <div class="delete" (click)="deleteTodoItem(todo.id)" id="delete-{{todo.id}}">🗑️</div>
          <div class="edit" (click)="editTodoItem(todo.id)" id="edit-{{todo.id}}">✏️</div>
        </div>
      </div>
    </li>
</ul>
<br />

<h4 class="header-success">Done:</h4>
<p *ngIf="sortedTodolist.done.length === 0">Ask some help maybe, if you can't figure things out on your own</p>
<ul class="todolist" *ngFor="let todo of sortedTodolist.done" id="done-list">
    <li>
      <div>
        <div class="todo-item" (click)="viewTodoItem(todo.id)" id="todo-{{todo.id}}">{{todo.title}}
          <span class="date">{{todo.dueDate}}</span>&nbsp;
          <button class="pure-button button-xsmall" [ngClass]="{'label-warning': todo.status === 'INPROGRESS', 'label-success': todo.status === 'DONE'}"><strong>{{formatStatus(todo.status)}}</strong></button></div>
        <div>
          <div class="delete" (click)="deleteTodoItem(todo.id)" id="delete-{{todo.id}}">🗑️</div>
          <div class="edit" (click)="editTodoItem(todo.id)" id="edit-{{todo.id}}">✏️</div>
        </div>
      </div>
    </li>
</ul>
