:host {
  overflow: auto;
}

h4 {
  text-align: left;
  padding-left: 2rem;
}

.todolist {
    width: 540px;
    text-align: left;
}

.todo-item {
  float: left;
}

.todo-item:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.delete:hover, .edit:hover {
  cursor: pointer;
  transition: 100ms;
  background-color: rgb(241, 241, 241);
  border-radius: 100%;
}

.date {
    color: lightslategray;
    font-style: italic;
    font-size: 80%;
}

.button-xsmall {
    font-size: 70%;
    border-radius: 6px;
    padding: 4px;
}

.delete, .edit {
    float: right;
    padding-left: 5px;
}

li:hover{
    // background-color: rgb(241, 241, 241);
    // cursor: pointer;
}

.header-warning {
  color: rgb(255, 136, 0);
}

.header-success {
  color:rgb(28, 184, 65);
}

.label-success{
    background: rgb(28, 184, 65);
    color: white;
}

.label-warning{
  background: rgb(255, 136, 0);
  color: white;
}

.label-danger{
  background: rgb(255, 0, 0);
  color: white;
}

//* { outline: solid 0.25rem hsla(210, 100%, 100%, 0.5); }
