<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a (click)="addTodo()" class="pure-menu-link" id="add-todo">➕ Add Todo</a>
        </li>
    </ul>
</div>