<ng-container *ngIf="display$ | async as display">
  <section [class.open]="display === 'open'" (click)="close()">
    <div (click)="$event.stopPropagation()">
      <button class="close" type="button" (click)="close()" id="close-modal">❌</button>

<!-- Add todo item -->
<div *ngIf="getType() === 'add-todo-item'" id="add-todo-modal">
  <h3>Add a new todo-item</h3>

<form class="pure-form pure-form-aligned" *ngIf="todoItem">
  <fieldset>
      <div class="pure-control-group">
          <label for="aligned-name">Title</label>
          <input name="title" [(ngModel)]="todoItem.title" id="add-todo-title"/>
          <span class="pure-form-message-inline">*</span>
      </div>
      <div class="pure-control-group">
        <label for="aligned-name">Due date</label>
        <input name="duedate" [(ngModel)]="todoItem.dueDate" id="add-todo-duedate"/>
        <span class="pure-form-message-inline">*</span>
      </div>
      <div class="pure-control-group">
        <label for="aligned-name">Description</label>
        <textarea name="Description" [(ngModel)]="todoItem.description" id="add-todo-description"></textarea>
        <span class="pure-form-message-inline">*</span>
      </div>
      <div class="pure-control-group">
        <label for="aligned-name">Status</label>
        <select name="status" id="stacked-state" [(ngModel)]="todoItem.status" id="add-todo-status">
          <option>TODO</option>
          <option>INPROGRESS</option>
          <option>DONE</option>
        </select>
        <span class="pure-form-message-inline">*</span>
      </div>
      <div class="pure-controls">
        <button type="button" class="pure-button pure-button-primary button" (click)="createTodo()" id="add-todo-save">Save</button>
    </div>
  </fieldset>
  </form>
</div>

<!-- Edit todo item -->
<div *ngIf="getType() === 'edit-todo-item'" id="edit-todo-modal">
  <h3>Edit a todo-item</h3>

  <form class="pure-form pure-form-aligned" *ngIf="todoItem">
    <fieldset>
        <div class="pure-control-group">
            <label for="aligned-name">Title</label>
            <input name="title" [(ngModel)]="todoItem.title" id="edit-todo-title"/>
            <span class="pure-form-message-inline">*</span>
        </div>
        <div class="pure-control-group">
          <label for="aligned-name">Due date</label>
          <input name="duedate" [(ngModel)]="todoItem.dueDate" id="edit-todo-duedate"/>
          <span class="pure-form-message-inline">*</span>
        </div>
        <div class="pure-control-group">
          <label for="aligned-name">Description</label>
          <textarea name="Description" [(ngModel)]="todoItem.description" id="edit-todo-description"></textarea>
          <span class="pure-form-message-inline">*</span>
        </div>
        <div class="pure-control-group">
          <label for="aligned-name">Status</label>
          <select name="status" id="stacked-state" [(ngModel)]="todoItem.status" id="edit-todo-status">
            <option>TODO</option>
            <option>INPROGRESS</option>
            <option>DONE</option>
          </select>
          <span class="pure-form-message-inline">*</span>
        </div>
        <div class="pure-controls">
          <button type="button" class="pure-button pure-button-primary button" (click)="updateTodo()" id="edit-todo-save">Save</button>
      </div>
    </fieldset>
  </form>
</div>

<!-- View todo item -->
<div *ngIf="getType() === 'view-todo-item'" id="view-todo-item">

  <div *ngIf="todoItem">
    <div class="todo-item">
      <h3 id="view-todo-title">{{todoItem.title}}</h3>
      <button class="pure-button button-xsmall" [ngClass]="{'label-warning': todoItem.status === 'INPROGRESS', 'label-success': todoItem.status === 'DONE'}" id="view-todo-status"><strong>{{todoItem.status}}</strong></button>&nbsp;
      <span class="date" id="view-todo-duedate">{{todoItem.dueDate}}</span>&nbsp;

    </div>
    <h4>Description:</h4>
    <p id="view-todo-description">{{todoItem.description}}</p>
  </div>

</div>


    </div>
  </section>
</ng-container>
