section {
  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: inherit;
    opacity: 1;
  }

  display: block;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms ease-in;

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 400px;
    width: 600px;

    background: white;
    padding: 32px;

    border-radius: 8px;

    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  }

  button.close {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;

    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
  }
}

textarea {
  width: 300px;
  height: 150px;
}

.date {
    color: lightslategray;
    font-style: italic;
    font-size: 80%;
}

.button-xsmall {
    font-size: 70%;
    border-radius: 6px;
    padding: 4px;
}

.header-warning {
  color: rgb(255, 136, 0);
}

.header-success {
  color:rgb(28, 184, 65);
}

.label-success{
    background: rgb(28, 184, 65);
    color: white;
}

.label-warning{
  background: rgb(255, 136, 0);
  color: white;
}

.label-danger{
  background: rgb(255, 0, 0);
  color: white;
}
