<div class="center-screen">
  <div class="container" id="login-container">
      <div class="title-container">
          <h2>Login</h2>
          <div *ngIf="loginMessage.message" [ngClass]="{'error-message': loginMessage.type === 'error', 'success-message': loginMessage.type === 'success'}">{{loginMessage.message}}</div>
      </div>

      <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Username</label>
                <input name="username" [(ngModel)]="loginDetails.userName" (keyup.enter)="login()" id="username"/>
                <span class="pure-form-message-inline">*</span>
            </div>
            <div class="pure-control-group">
                <label for="aligned-password">Password</label>
                <input type="password" name="password" [(ngModel)]="loginDetails.passWord" (keyup.enter)="login()" id="password"/>
                <span class="pure-form-message-inline">*</span>
            </div>
            <div class="pure-controls">
              <button 
                type="button" 
                class="pure-button pure-button-primary button" 
                (click)="login()" 
                [disabled]="disabledButton || (loginDetails.userName.length < 1 || loginDetails.passWord.length < 1)"
                id="login-button">Login
              </button>
              <button type="button" class="button pure-button" (click)="register()" id="register-button">Register</button>
          </div>
        </fieldset>
    </form>

  </div>
</div>
