.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(226, 0, 122);
}

.title-container {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 260px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: white;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.button {
  border-radius: 4px;
}

#back-to-login {
  margin-left: 15px;
}
