<div class="center-screen">
  <div class="container" id="register-container">
      <div class="title-container">
          <h2>Register</h2>
          <div *ngIf="registerMessage.message" [ngClass]="{'error-message': registerMessage.type === 'error', 'success-message': registerMessage.type === 'success'}">{{registerMessage.message}}</div>
      </div>

        <form class="pure-form pure-form-aligned">
          <fieldset>
              <div class="pure-control-group">
                  <label for="aligned-name">Username</label>
                  <input name="username" [(ngModel)]="registerDetails.userName" (keyup.enter)="register()" id="register-username"/>
                  <span class="pure-form-message-inline">*</span>
              </div>
              <div class="pure-control-group">
                  <label for="aligned-password">Password</label>
                  <input type="password" name="password" [(ngModel)]="registerDetails.passWord" (keyup.enter)="register()" id="register-password"/>
                  <span class="pure-form-message-inline">*</span>
              </div>
              <div class="pure-control-group">
                  <label for="aligned-foo">Confirm password</label>
                  <input type="password" name="passwordConfirmation" [(ngModel)]="registerDetails.passwordConfirmation" (keyup.enter)="register()" id="register-password-confirm"/>
                  <span class="pure-form-message-inline">*</span>
              </div>
              <div class="pure-controls">
                <button type="button" 
                    class="pure-button pure-button-primary button" 
                    id="register-button"
                    (click)="register()">
                    Register
                </button>
                <button type="button" class="button pure-button" (click)="backToLoginPage()" id="back-to-login">Back to Loginpage</button>
            </div>
          </fieldset>
      </form>

  </div>
</div>
