<div class="center-screen">
    <div [@zoomInOnEnter] class="container" id="list-container">
        <div class="title-container">
            <h2>{{ pageTitle }}</h2>
        </div>
        <app-todolist></app-todolist>
        <app-bottom-menu></app-bottom-menu>
    </div>
</div>