.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: rgb(226, 0, 122);
  }

.title-container {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 75vh;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
}

app-bottom-menu {
    margin-top: auto;
}
